* {
  font-family: 'Raleway', sans-serif;
}

p, span, a {
  font-size: 16px;
}

h1 {
  font-weight: bold;
  font-size: 66px;
  margin: 0px;
}

h2 {
  font-weight: bold;
  font-size: 32px;
  margin: 0px;
}

h3 {
  font-weight: bold;
  font-size: 24px;
  margin: 0px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 38px !important;
  }

  h2 {
    font-size: 22px !important;
  }

  h3 {
    font-size: 16px !important;
  }

  p, span, a {
    font-size: 12px !important;
  }
}

.bg-primary {
  background-color: #0032A0 !important;
}

.bg-secondary {
  background-color: #E8EBEE !important;
}

.btn-secondary {
  background-color: #E8EBEE;
  border-color: #E8EBEE;
  color: black;
}

.btn-secondary:hover {
  background-color: #D9DFE3;
  border-color: #D9DFE3;
}
.btn-secondary:active {
  background-color: #D9DFE3 !important;
  border-color: #D9DFE3 !important;
}